.row {
  display: flex;
}

.block {
  padding: 10px;
  border: 1px solid black;
  margin: 1px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.orange {
  background-color: tomato;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}

.border {
  background: teal;
}

.left {
  background-color: teal;
}

.right {
  background-color: teal;
}
