.app-wrapper {
  display: flex;
}

.score-board {
  width: 200px;
  border: 1px solid black;
}

.row {
  display: flex;
}

.block {
  padding: 12px;
  border: 1px solid black;
  margin: 1px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.teal {
  background-color: teal;
}

.orange {
  background-color: tomato;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}

.bottom, .left, .right {
  padding: 0;
  border: 0;
}
